* {
  margin: 0;
  padding: 0;
  border-style: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 0.5rem;
}

.title {
  font-size: 36px;
  font-family: "Corsiva", "Courier New", monospace;
}

.imgFood {
  border-radius: 5%;
  max-width: 20%;
}

.ingredients,
.steps {
  background-color: rgb(50, 50, 50);
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
